.jumbotron
  %h1 #{domain_name}
  %p
    Custom branded short URLs
    %span.pull-right
      %a.btn.btn-primary.btn-large{href: new_shortener_shortened_url_url} Create new short URL

.panel.panel-default
  .panel-heading
    %h5.pull-left Recent shortened URLs:
    .pull-right
      = form_tag shortener_shortened_urls_url, method: :get, class: "form-inline" do
        = text_field_tag :query, params[:query], placeholder: "Enter Short URL", class: "form-control", id: "short_url_query_input"
        = submit_tag "Search", class: "btn btn-default"
    .clearfix

  .panel-body
    %table.table.table-condensed.table_responsive
      %thead
        %tr
          %th
            short URL
          %th
            original URL
          %th
      %tbody
      - @urls.each do |url|
        %tr
          %td
            %a{href: "/#{url.unique_key}", target: url.unique_key}
              = condensed_url url
          %td
            %a{href: full_url(url), target: url.unique_key}
              = full_url(url).truncate(55)
          %td
            %button.btn.btn-primary.btn-xs.copy_button{:'data-clipboard-text' => valid_condensed_url(url)}
              copy
            %a.btn.btn-primary.btn-xs{href: shortener_shortened_url_path(url)}
              show
            %a.btn.btn-primary.btn-xs{href: edit_shortener_shortened_url_path(url)}
              edit

  .panel-footer
    = paginate @urls

:javascript
  var client = new ZeroClipboard( $(".copy_button") );
  client.on( "ready", function( readyEvent ) {
    // alert( "ZeroClipboard SWF is ready!" );
    client.on( "aftercopy", function( event ) {
      // `this` === `client`
      // `event.target` === the element that was clicked
      event.target.style.display = "none";
      alert("Copied text to clipboard: " + event.data["text/plain"] );
    } );
  } );
  